.confirmationBoxOuter{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(75, 75, 80, 0.226);
  }
  .confirmationBox{
    position: fixed;
    height: 150px;
    width: 300px;
    background-color: rgb(78, 66, 78);
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    background-image: linear-gradient(rgba(121, 121, 121, 0), rgba(0, 0, 0, 0.2));
    top: calc(50% - 125px);
    left: calc(50% - 150px);
  }
  .confirmationBoxMessage{
    padding: 20px;
  }
  .confirmationBox .buttons{
    position: absolute;
    bottom: 5px;
    width: 100%;
  }
  .confirmationBox button {
    width: calc(50% - 10px);
    margin: 5px;    
    cursor: pointer;
    background-color: rgb(168, 166, 168);
    height: 30px;
  }